<section class="catalog" id="catalog">
  <div class="container">
    <h2 class="catalog-title">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-item">
        <div class="catalog-card">
          <div class="catalog-card-img-container">
            <picture>
              <source
                srcset="
                  ./img/catalog/fenix-7x.avif    1x,
                  ./img/catalog/fenix-7x-2x.avif 2x
                "
                media="(min-width:1280px)"
              />
              <source
                srcset="
                  ./img/catalog/fenix-7x-tab.avif    1x,
                  ./img/catalog/fenix-7x-tab-2x.avif 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/catalog/fenix-7x-mob.avif    1x,
                  ./img/catalog/fenix-7x-mob-2x.avif 2x
                "
                media="(max-width:767px)"
              />
              <img
                class="catalog-card-img"
                src="./img/catalog/fenix-7x.avif"
                alt="Garmin Fenix 7X Pro Sapphire Solar"
                width="292"
              />
            </picture>
          </div>
          <p class="catalog-card-name">Garmin Fenix 7X Pro Sapphire Solar</p>
          <p class="catalog-card-price">&euro;500</p>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-card">
          <div class="catalog-card-img-container">
            <picture>
              <source
                srcset="
                  ./img/catalog/marq.avif    1x,
                  ./img/catalog/marq-2x.avif 2x
                "
                media="(min-width:1280px)"
              />
              <source
                srcset="
                  ./img/catalog/marq-tab.avif    1x,
                  ./img/catalog/marq-tab-2x.avif 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/catalog/marq-mob.avif    1x,
                  ./img/catalog/marq-mob-2x.avif 2x
                "
                media="(max-width:767px)"
              />
              <img
                class="catalog-card-img"
                src="./img/catalog/marq.avif"
                alt="Garmin Marq Athlete"
                width="292"
              />
            </picture>
          </div>
          <p class="catalog-card-name">Garmin Marq Athlete</p>
          <p class="catalog-card-price">&euro;450</p>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-card">
          <div class="catalog-card-img-container">
            <picture>
              <source
                srcset="
                  ./img/catalog/descent.avif    1x,
                  ./img/catalog/descent-2x.avif 2x
                "
                media="(min-width:1280px)"
              />
              <source
                srcset="
                  ./img/catalog/descent-tab.avif    1x,
                  ./img/catalog/descent-tab-2x.avif 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/catalog/descent-mob.avif    1x,
                  ./img/catalog/descent-mob-2x.avif 2x
                "
                media="(max-width:767px)"
              />
              <img
                class="catalog-card-img"
                src="./img/catalog/descent.avif"
                alt="Garmin Descent MK1"
                width="292"
              />
            </picture>
          </div>
          <p class="catalog-card-name">Garmin Descent MK1</p>
          <p class="catalog-card-price">&euro;680</p>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-card">
          <div class="catalog-card-img-container">
            <picture>
              <source
                srcset="
                  ./img/catalog/delta.avif    1x,
                  ./img/catalog/delta-2x.avif 2x
                "
                media="(min-width:1280px)"
              />
              <source
                srcset="
                  ./img/catalog/delta-tab.avif    1x,
                  ./img/catalog/delta-tab-2x.avif 2x
                "
                media="(min-width:768px)"
              />
              <source
                srcset="
                  ./img/catalog/delta-mob.avif    1x,
                  ./img/catalog/delta-mob-2x.avif 2x
                "
                media="(max-width:767px)"
              />
              <img
                class="catalog-card-img"
                src="./img/catalog/delta.avif"
                alt="Garmin D2 Delta PX"
                width="292"
              />
            </picture>
          </div>
          <p class="catalog-card-name">Garmin D2 Delta PX</p>
          <p class="catalog-card-price">&euro;380</p>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-card">
          <div class="catalog-card-img-container">
            <picture>
              <source
                srcset="
                  ./img/catalog/fenix-6.avif    1x,
                  ./img/catalog/fenix-6-2x.avif 2x
                "
                media="(min-width:1280px)"
              />
              <source
                srcset="
                  ./img/catalog/fenix-6-tab.avif    1x,
                  ./img/catalog/fenix-6-tab-2x.avif 2x
                "
                media="(min-width:768px)"
              />
              <img
                class="catalog-card-img"
                src="./img/catalog/fenix-6.avif"
                alt="Garmin Fenix 6 Pro Solar"
                width="292"
              />
            </picture>
          </div>
          <p class="catalog-card-name">Garmin Fenix 6 Pro Solar</p>
          <p class="catalog-card-price">&euro;400</p>
        </div>
      </li>
      <li class="catalog-item">
        <div class="catalog-card">
          <div class="catalog-card-img-container">
            <picture>
              <source
                srcset="
                  ./img/catalog/watch.avif    1x,
                  ./img/catalog/watch-2x.avif 2x
                "
                media="(min-width:1280px)"
              />
              <source
                srcset="
                  ./img/catalog/watch-tab.avif    1x,
                  ./img/catalog/watch-tab-2x.avif 2x
                "
                media="(min-width:768px)"
              />
              <img
                class="catalog-card-img"
                src="./img/catalog/watch.avif"
                alt="Tube Watch S42 Date Steel With Black Case"
                width="292"
              />
            </picture>
          </div>
          <p class="catalog-card-name">
            Tube Watch S42 Date Steel With Black Case
          </p>
          <p class="catalog-card-price">&euro;395</p>
        </div>
      </li>
    </ul>
    <button class="catalog-btn" type="button">Show more</button>
  </div>
</section>
