<section class="catalog" id="catalog">
  <div class="container">
    <h2 class="catalog-title">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-item">
        <div class="catalog-card-img-container">
          <picture>
            <source
              srcset="
                ./img/catalog/fenix-7x.png    1x,
                ./img/catalog/fenix-7x-2x.png 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./img/catalog/fenix-7x-tab.png    1x,
                ./img/catalog/fenix-7x-tab-2x.png 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./img/catalog/fenix-7x-mob.png    1x,
                ./img/catalog/fenix-7x-mob-2x.png 2x
              "
              media="(max-width:767px)"
            />
            <img
              class="catalog-card-img"
              src="./img/catalog/fenix-7x.png"
              alt="Garmin Fenix 7X Pro Sapphire Solar"
            />
          </picture>
        </div>
        <h3 class="catalog-card-name">Garmin Fenix 7X Pro Sapphire Solar</h3>
        <p class="catalog-card-price">&euro;500</p>
      </li>
      <li class="catalog-item">
        <div class="catalog-card-img-container">
          <picture>
            <source
              srcset="./img/catalog/marq.png 1x, ./img/catalog/marq-2x.png 2x"
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./img/catalog/marq-tab.png    1x,
                ./img/catalog/marq-tab-2x.png 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./img/catalog/marq-mob.png    1x,
                ./img/catalog/marq-mob-2x.png 2x
              "
              media="(max-width:767px)"
            />
            <img
              class="catalog-card-img"
              src="./img/catalog/marq.png"
              alt="Garmin Marq Athlete"
            />
          </picture>
        </div>
        <h3 class="catalog-card-name">Garmin Marq Athlete</h3>
        <p class="catalog-card-price">&euro;450</p>
      </li>
      <li class="catalog-item">
        <div class="catalog-card-img-container">
          <picture>
            <source
              srcset="
                ./img/catalog/descent.png    1x,
                ./img/catalog/descent-2x.png 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./img/catalog/descent-tab.png    1x,
                ./img/catalog/descent-tab-2x.png 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./img/catalog/descent-mob.png    1x,
                ./img/catalog/descent-mob-2x.png 2x
              "
              media="(max-width:767px)"
            />
            <img
              class="catalog-card-img"
              src="./img/catalog/descent.png"
              alt="Garmin Descent MK1"
            />
          </picture>
        </div>
        <h3 class="catalog-card-name">Garmin Descent MK1</h3>
        <p class="catalog-card-price">&euro;680</p>
      </li>
      <li class="catalog-item">
        <div class="catalog-card-img-container">
          <picture>
            <source
              srcset="./img/catalog/delta.png 1x, ./img/catalog/delta-2x.png 2x"
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./img/catalog/delta-tab.png    1x,
                ./img/catalog/delta-tab-2x.png 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./img/catalog/delta-mob.png    1x,
                ./img/catalog/delta-mob-2x.png 2x
              "
              media="(max-width:767px)"
            />
            <img
              class="catalog-card-img"
              src="./img/catalog/delta.png"
              alt="Garmin D2 Delta PX"
            />
          </picture>
        </div>
        <h3 class="catalog-card-name">Garmin D2 Delta PX</h3>
        <p class="catalog-card-price">&euro;380</p>
      </li>
      <li class="catalog-item">
        <div class="catalog-card-img-container">
          <picture>
            <source
              srcset="
                ./img/catalog/fenix-6.png    1x,
                ./img/catalog/fenix-6-2x.png 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./img/catalog/fenix-6-tab.png    1x,
                ./img/catalog/fenix-6-tab-2x.png 2x
              "
              media="(min-width:768px)"
            />
            <img
              class="catalog-card-img"
              src="./img/catalog/fenix-6.png"
              alt="Garmin Fenix 6 Pro Solar"
            />
          </picture>
        </div>
        <h3 class="catalog-card-name">Garmin Fenix 6 Pro Solar</h3>
        <p class="catalog-card-price">&euro;400</p>
      </li>
      <li class="catalog-item">
        <div class="catalog-card-img-container">
          <picture>
            <source
              srcset="./img/catalog/watch.png 1x, ./img/catalog/watch-2x.png 2x"
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./img/catalog/watch-tab.png    1x,
                ./img/catalog/watch-tab-2x.png 2x
              "
              media="(min-width:768px)"
            />
            <img
              class="catalog-card-img"
              src="./img/catalog/watch.png"
              alt="Tube Watch S42 Date Steel With Black Case"
            />
          </picture>
        </div>
        <h3 class="catalog-card-name">
          Tube Watch S42 Date Steel With Black Case
        </h3>
        <p class="catalog-card-price">&euro;395</p>
      </li>
    </ul>
    <button class="catalog-btn" type="button">Show more</button>
  </div>
</section>
