<section class="footer container">
  <div class="footer-box">
    <div class="footer-top">
      <div class="footer-media-box">
        <a href="#" class="footer-logo">watchcharm</a>
        <ul class="footer-list-icon">
          <li class="footer-item">
            <a
              href="https://www.facebook.com/goITclub/"
              target="_blank"
              class="footer-link"
            >
              <svg class="footer-icon">
                <use href="./img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer-item">
            <a
              href="https://www.instagram.com/goitclub/"
              target="_blank"
              class="footer-link"
            >
              <svg class="footer-icon">
                <use href="./img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-item">
            <a
              href="https://www.youtube.com/c/GoIT "
              target="_blank"
              class="footer-link"
            >
              <svg class="footer-icon">
                <use href="./img/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-contact">
        <a class="footer-phone" href="tel:++380684439426"
          >+380 (68) 443-94-26</a
        >
      </div>
      <h4 class="footer-title">
        Have the time of your life with our watches: where high-class
        craftsmanship meets impeccable design
      </h4>
      <div class="footer-menu">
        <div class="footer-menu-box">
          <ul class="footer-menu-list">
            <li class="footer-menu-item">
              <a href="" class="footer-menu-link">Home</a>
            </li>
            <li class="footer-menu-item">
              <a href="" class="footer-menu-link">About Us</a>
            </li>
            <li class="footer-menu-item">
              <a href="" class="footer-menu-link">Catalog</a>
            </li>
            <li class="footer-menu-item">
              <a href="" class="footer-menu-link">Sale</a>
            </li>
            <li class="footer-menu-item">
              <a href="" class="footer-menu-link">Reviews</a>
            </li>
            <li class="footer-menu-item">
              <a href="" class="footer-menu-link">Contact Us</a>
            </li>
          </ul>
        </div>
        <div class="footer-menu-address">
          <p class="footer-menu-text">
            1678 S. Pioneer Road Salt Lake City UT 84104
          </p>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <ul class="footer-bottom-list">
        <li class="footer-bottom-item">
          <p class="footer-bottom-text">
            ©2023 The Watch Spot. All rights reserved.
          </p>
        </li>
        <li class="footer-bottom-item">
          <p class="footer-bottom-text">
            Terms of Service
            <span class="footer-bottom-privacy">Privacy Policy</span>
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
