<header class="header">
  <div class="container">
    <a href="#" class="logo"> watchcharm </a>

    <nav class="navigation">
      <ul class="navigation__list">
        <li class="navigation__item">
          <a href="#" class="navigation__link">Home</a>
        </li>
        <li class="navigation__item">
          <a href="#about-us" class="navigation__link">About Us</a>
        </li>
        <li class="navigation__item">
          <a href="#catalog" class="navigation__link">Catalog</a>
        </li>
        <li class="navigation__item">
          <a href="#sale" class="navigation__link">Sale</a>
        </li>
        <li class="navigation__item">
          <a href="#reviews" class="navigation__link">Reviews</a>
        </li>
        <li class="navigation__item">
          <a href="#contact-us" class="navigation__link">Contact Us</a>
        </li>
      </ul>
    </nav>

    <ul class="soc-list">
      <li class="soc__item">
        <a
          href="https://www.facebook.com/goITclub/"
          class="soc__link"
          target="_blank"
        >
          <svg class="soc__icon" width="20" height="20">
            <use href="../img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="soc__item">
        <a
          href="https://www.instagram.com/goitclub/"
          class="soc__link"
          target="_blank"
        >
          <svg class="soc__icon" width="20" height="20">
            <use href="../img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="soc__item">
        <a
          href="https://www.youtube.com/c/GoIT"
          class="soc__link"
          target="_blank"
        >
          <svg class="soc__icon" width="20" height="20">
            <use href="../img/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>

    <button type="button" class="mob-menu__btn" data-open-menu>
      <svg class="mob-menu__open">
        <use href="../img/icons.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</header>