<section class="container">
  <div class="hero-tomb">
    <div class="hero-tomb-title">
      <h1 class="hero-title">
        Welcome to our <span class="hero-title-span"> collection </span>of
        premium watches
      </h1>
      <p class="hero-text">
        Our watches are not just timepieces, but also an expression of your
        personality and lifestyle. From classic designs to modern ones, we have
        a watch to suit every taste and occasion.
      </p>
    </div>
    <div class="img-scroll">
      <ul class="hero-list">
        <li class="hero-list-item victoria-romashenko">
          <img
            class="hero-list-item-img"
            src="./img/hero/victoria-romashenko-1x.jpg"
            alt="victoria-romashenko"
          />
        </li>
        <li class="hero-list-item john-wax">
          <img
            class="hero-list-item-img"
            src="./img/hero/john-wax-1x.jpg"
            alt="john-wax"
          />
        </li>
        <li class="hero-list-item anastasia-trachuk">
          <img
            class="hero-list-item-img"
            src="./img/hero/anastasia-trachuk-1x.jpg"
            alt="anastasia-trachuk"
          />
        </li>
      </ul>
      <a class="hero-text-scroll" href="#footer">Scroll down</a>
    </div>

    <picture>
      <source
        srcset="
          ./img/hero/hero-rectangle-1x.jpg 1x,
          ./img/hero/hero-rectangle-2x.jpg 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./img/hero/tablet/hero-rectangle-1x.jpg 1x,
          ./img/hero/tablet/hero-rectangle-2x.jpg 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./img/hero/mobile/hero-rectangle-mobile-1x.jpg 1x,
          ./img/hero/mobile/hero-rectangle-mobile-2x.jpg 2x
        "
        media="(max-width: 767px)"
      />
      <img
        src="./img/hero/hero-rectangle-1x.jpg"
        class="hero-rectangle-img"
        alt="watch"
      />
    </picture>
  </div>
</section>
