<section class="sale">
  <div class="container sale-container">
    <div class="sale-list-container">
      <h2 class="sale-title">Sale</h2>
      <ul class="sale-list">
        <li class="sale-item">
          <div class="sale-item-img">
            <picture>
              <source
                srcset="
                  ./img/sale/watch-front-desktop.jpg,
                  ./img/sale/watch-front-desktop@2x.jpg 2x
                "
                media="(min-width: 768px)"
                sizes="(min-width: 768px) 100vw"
              />
              <source
                srcset="
                  ./img/sale/watch-front-mobile.jpg,
                  ./img/sale/watch-front-mobile@2x.jpg 2x
                "
                media="(max-width: 768px)"
                sizes="(max-width: 768px) 100vw"
              />
              <img
                class="sale-watch-list-img"
                src="./img/sale/watch-front-mobile.jpg"
                alt="Front view of the watch"
                width="80"
              />
            </picture>
          </div>
        </li>
        <li class="sale-item">
          <div class="sale-item-img">
            <picture>
              <source
                srcset="
                  ./img/sale/watch-back-desktop.jpg,
                  ./img/sale/watch-back-desktop@2x.jpg 2x
                "
                media="(min-width: 768px)"
                sizes="(min-width: 768px) 100vw"
              />
              <source
                srcset="
                  ./img/sale/watch-back-mobile.jpg,
                  ./img/sale/watch-back-mobile@2x.jpg 2x
                "
                media="(max-width: 768px)"
                sizes="(max-width: 768px) 100vw"
              />
              <img
                class="sale-watch-list-img"
                src="./img/sale/watch-back-mobile@2x.jpg"
                alt="Back view of the watch"
                width="80"
              />
            </picture>
          </div>
        </li>
        <li class="sale-item">
          <div class="sale-item-img">
            <picture>
              <source
                srcset="
                  ./img/sale/watch-side-desktop.jpg,
                  ./img/sale/watch-side-desktop@2x.jpg 2x
                "
                media="(min-width: 768px)"
                sizes="(min-width: 768px) 100vw"
              />
              <source
                srcset="
                  ./img/sale/watch-side-mobile.jpg,
                  ./img/sale/watch-side-mobile@2x.jpg 2x
                "
                media="(max-width: 768px)"
                sizes="(max-width: 768px) 100vw"
              />
              <img
                class="sale-watch-list-img"
                src="./img/sale/watch-side-mobile.jpg"
                alt="View of the watch from the side"
                width="80"
              />
            </picture>
          </div>
        </li>
        <li class="sale-item">
          <div class="sale-item-img">
            <picture>
              <source
                srcset="
                  ./img/sale/watch-angle-desktop.jpg,
                  ./img/sale/watch-angle-desktop@2x.jpg 2x
                "
                media="(min-width: 768px)"
                sizes="(min-width: 768px) 100vw"
              />
              <source
                srcset="
                  ./img/sale/watch-angle-mobile.jpg,
                  ./img/sale/watch-angle-mobile@2x.jpg 2x
                "
                media="(max-width: 768px)"
                sizes="(max-width: 768px) 100vw"
              />
              <img
                class="sale-watch-list-img"
                src="./img/sale/watch-angle-mobile.jpg"
                alt="View of the watch from the angle"
                width="80"
              />
            </picture>
          </div>
        </li>
      </ul>
    </div>
    <div class="sale-general-img">
      <picture>
        <source
          srcset="
            ./img/sale/watch-general-desktop.jpg,
            ./img/sale/watch-general-desktop@2x.jpg 2x
          "
          media="(min-width: 768px)"
          sizes="(min-width: 768px) 100vw"
        />
        <source
          srcset="
            ./img/sale/watch-general-mobile.jpg,
            ./img/sale/watch-general-mobile@2x.jpg 2x
          "
          media="(max-width: 768px)"
          sizes="(max-width: 768px) 100vw"
        />
        <img
          class="sale-general-watch-img"
          src="./img/sale/watch-general-mobile.jpg"
          alt="General photo of the watch"
          width="335"
        />
      </picture>
    </div>
    <div class="sale-watch-info">
      <h2 class="sale-watch-title">
        MARQ<span class="trade-mark">®</span> Commander (Gen 2) - Carbon Edition
      </h2>
      <p class="sale-watch-tag">Product tag: 706587</p>
      <div class="sale-watch-price">
        <span class="sale-watch-price-now">€1500</span>
        <span class="sale-watch-price-before">€3000</span>
      </div>
      <p class="sale-watch-description">
        The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
        for adventurers that takes materials and features to the next level. The
        body of the watch is made of very durable Fused Carbon Fiber material
        and has a precise AMOLED touch screen. The sensitive touch screen is
        complemented by buttons that can be used in any conditions.
      </p>
      <div class="sale-watch-categories">
        <span class="sale-watch-categories-item">Fused carbon fiber</span>
        <span class="sale-watch-categories-item">Grade-5 Titanium</span>
        <span class="sale-watch-categories-item">Athlete</span>
        <span class="sale-watch-categories-item">Golfer</span>
        <span class="sale-watch-categories-item">Commander</span>
        <span class="sale-watch-categories-item">Adventurer</span>
      </div>
    </div>
  </div>
</section>
