.about-us {
  margin-bottom: 60px;
}
.text-container {
  background: #f3f3f3;
  border-radius: 30px 30px 30px 30px;
  height: auto;
  padding: 40px 20px;
  margin-bottom: 20px;
}
.about-us-title {
  color: #0c0c0c;
  text-transform: none;
  padding-bottom: 28px;
  font: 600 32px / 1 'Gilroy', sans-serif;
  letter-spacing: -0.02em;
}
.about-us-text-one {
  padding-bottom: 20px;
  color: #0c0c0c;
  margin-top: 0;
  text-align: left;
  margin-bottom: 0;
  text-transform: none;
  font: 500 14px / 1.28571 'Gilroy', sans-serif;
  letter-spacing: -0.02em;
}
.about-us-text-two {
  padding-bottom: 40px;
  color: #0c0c0c;
  margin-top: 0;
  text-align: left;
  margin-bottom: 0;
  text-transform: none;
  font: 500 14px / 1.28571 'Gilroy', sans-serif;
  letter-spacing: -0.02em;
}

.about-link-text {
  border-radius: 16px;
  width: 160px;
  height: 48px;
  background-color: #3350e9;
  padding: 15px 37px;
  font: 500 14px / 1.28571 'Gilroy', sans-serif;
  text-align: center;
  color: #fbfbfb;
}

.about-link-text:hover,
.about-link-text:hover {
  background-color: #1f3cd4;
}
