.contact-us {
    margin: 60px 0;
}

.contact-us-container {
    max-width: 375px;
    padding: 0 20px;
}

.contact-us-title {
    font-size: 32px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #0c0c0c;
    margin-bottom: 24px;
}

.contact-us-form {
    max-width: 335px;
    border-radius: 30px;
    background-color: #F3F3F3;
    margin-bottom: 20px;
    padding: 48px 28px;
}

.form-text {
    display: block;
    text-align: left;
}

.contact-us-form-text {
    display: block;
    max-width: 279px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    margin-bottom: 28px;
    text-align: left;      
}

.form-inputs {
    unicode-bidi: isolate;
}

.form-wrapper-cont {
    display: flex;
    margin-bottom: 18px;
}

.form-input {
    font-family: 'Girloy', sans-serif;
    width: 100%;
    border-radius: 12px;
    height: 42px;
    padding: 12px 14px;
    border: 1px solid #0C0C0C26;
    opacity: 0px;
    outline: none;
    transition: border 250ms linear;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
}

.form-input:focus:focus, .comment-text:focus {
    border-color:  #3350E9;
}

.form-wrapper-cont-comment {
    display: flex;
    margin-bottom: 28px;
    height: 84px;
    
}

.comment-text {
    width: 100%;
    padding: 12px 14px;
    border-radius: 12px;
    outline: none;
    border: 1px solid #0C0C0C26;
    transition: border 250ms linear;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    resize: none;
}

.form-button {
    min-width: 134px;
    min-height: 42px;
    padding: 0;
    gap: 10px;
    border-radius: 16px;
    border: none;
    background: #3350E9;
    color: #FBFBFB;
    transition: background-color 250ms linear;
}

.form-button:hover, .form-button:focus {
    background-color: #1F3CD4;
}

.comment-text::placeholder, .form-input::placeholder {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: #0C0C0C;
}

.contact-us-content-img {
    overflow: hidden;
    border-radius: 30px;
}


@media screen and (min-width: 768px) {
    .contact-us {
        margin: 80px 0;
    }

    .contact-us-container {
        max-width: 704px;
        padding: 0;
    }

    .contact-us-title {
        font-size: 48px;
        line-height: 44px;
        margin-bottom: 40px;
    }

    .contact-us-form {
        max-width: 704px;
        margin-bottom: 40px;
        padding: 50px 122px;
    }

    .form-text {
        padding: 50px 0;
        margin: center;
    }

    .contact-us-form-text {
        max-width: 460px;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 32px;
    }

    .form-button {
        min-width: 160px;
        min-height: 52px;
    }

    .form-wrapper-cont-comment {
        margin-bottom: 32px;
        height: 90px;
    }

    .form-input {
        height: 52px;
        padding: 16px 18px;
    }

    .comment-text {
        font-size: 16px;
        line-height: 20px;
    }

    .contact-us-content-img img {
        width: 100%;
    }
    
}

@media screen and (min-width: 1280px) {
    .contact-us {
        margin: 100px 0;
    }

    .contact-us-container {
        max-width: 1150px;
    }

    .form-text {
        display: flex;
        flex-wrap: nowrap;
        gap: 40px;
        padding: 0;
    } 

    .form-inputs {
        width: 100%;
    }

    .contact-us-form {
        display: flex;
        max-width: 580px;
        margin: 0;
        padding: 50px 60px;
        flex-wrap: wrap;

    } 
}
