.footer {
  background-color: #0c0c0c;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 28px 28px 28px;
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 40px 40px 28px 40px;
  }
}

.footer-box {
  width: 279px;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .footer-box {
    width: 624px;
    }
}

@media screen and (min-width: 1280px) {
  .footer-box {
    width: 1136px;
  }
}

.footer-top-title {
  display: flex;
  flex-direction: column;
 }

@media screen and (min-width: 768px) {
  .footer-top-title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 100px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-top-title {
    display: flex;
    flex-wrap: nowrap;
  }
}

.footer-media-box {
  padding: 0;
}

@media screen and (min-width: 768px) {
  .footer-media-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 86px;
    margin-right: 336px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-media-box {
    display: flex;
    flex-direction: column;
    width: 128px;
    margin: 0;
  }
}

.footer-media-box .footer-logo-link {
  display: inline-block;
  padding-bottom: 0;
  letter-spacing: -0.02em;
  color: #fbfbfb;
}

@media screen and (min-width: 768px) {
  .footer-logo-link {
      font-size: 20px;
  }
}

.footer-list-icon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin: 20px 0;
}

@media screen and (min-width: 768px) {
  .footer-list-icon {
    margin: 20px 0 0 0;
  }
}

.footer-item {
  border: 1px solid rgba(251, 251, 251, 0.1);
  border-radius: 10px;
  width: 34px;
  height: 34px;
}

@media screen and (min-width: 768px) {
  .footer-item {
    width: 36px;
    height: 36px;
  }
}

.footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
  opacity: 1;
  fill: #fff;
}

.footer-icon {
  width: 18px;
  height: 18px;
  opacity: 0.8;
  fill: #fbfbfb;
}

@media screen and (min-width: 768px) {
  .footer-icon {
    width: 20px;
    height: 20px;
  }
}

.footer-text {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  order: 1;
  padding-bottom: 92px;
}

@media screen and (min-width: 768px) {
  .footer-text {
    display: flex;
    justify-content: center;
    order: 1;
    flex-wrap: wrap;
    font-size: 28px;
    line-height: 1.14;
   margin: 0 45px;
  }
  .footer-top-title>.footer-text {
    padding: 0;
  }
}


@media screen and (min-width: 1280px) {
  .footer-text {
    display: flex;
    padding-left: 178px;
    padding-right: 147px;
    margin: 0;
    flex-wrap: nowrap;
    order: 0;
  }

  .footer-top-title>.footer-text {
    padding: 0 147px 0 160px;
  }
}

.footer-phone {
  display: flex;
  flex-shrink: 0;
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 16px;
  width: 152px;
  height: 44px;
  margin-bottom: 40px;
  padding: 14px 20px;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  text-align: center;
  color: #fbfbfb;
 }

@media screen and (min-width: 768px) {
  .footer-phone {
    font-size: 14px;
    padding: 15px;
    /* margin: 0 0 0 336px; */
    width: 160px;
    height: 48px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-phone {
    margin-left: 0;
  }
}

.footer-menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .footer-menu {
    margin-bottom: 28px;
  }
}

.footer-menu-list {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 8px;
  column-gap: 16px;
  padding-right: 49px;
}

@media screen and (min-width: 768px) {
  .footer-menu-list {
    width: 400px;
    gap: 19px;
    padding: 0;
  }
}

@media screen and (min-width: 1280px) {
  .footer-menu-list {
    flex-wrap: nowrap;
    gap: 19px;
    padding: 0;
  }
}

.footer-menu-item .footer-menu-link {
  color: #fbfbfb;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .footer-menu-item .footer-menu-link  {
    font-size: 14px;
  }
}

.footer-address-text {
  display: inline-block;
  width: 162px;
  cursor: pointer;
  font-size: 12px;
  line-height: 1.33;
  color: #fbfbfb;
}

@media screen and (min-width: 768px) {
  .footer-address-text {
    font-size: 14px;
    width: 162px;
  }
}

.footer-bottom {
  display: flex;
  font-size: 14px;
  border-top: 1px solid rgba(251, 251, 251, 0.1);
}

.footer-bottom-list {
  padding-top: 24px;
  width: 261px;
}

@media screen and (min-width: 768px) {
  .footer-bottom-list {
    display: flex;
    padding-top: 28px;
    min-width: 100%;
  }
}

.footer-bottom-item:first-child {
  padding-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .footer-bottom-item:first-child {
    padding: 0 159px 0 0;
  }
}

@media screen and (min-width: 1280px) {
  .footer-bottom-item:first-child {
    padding: 0 671px 0 0;
  }
}

.footer-span {
  content: '\00A9';
}

.footer-bottom-text {
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.5);
  opacity: 0.9;
}

@media screen and (min-width: 768px) {
  .footer-bottom-text {
    font-size: 14px;
  }
}

.footer-bottom-privacy {
  padding-left: 20px;
}
