@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-Medium.eot');
  src: local('Gilroy Medium'), local('Gilroy-Medium'),
    url('Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
    url('Gilroy-Medium.woff2') format('woff2'),
    url('Gilroy-Medium.woff') format('woff'),
    url('Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
body {
  font-family: 'Girloy', sans-serif;
  box-sizing: border-box;
}

.container {
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1150px;
    padding: 0;
  }
}
