.hero-tomb {
  padding-top: 60px;
  padding-bottom: 60px;
}

.hero-title {
  max-width: 335px;
  font-weight: 600;
  font-size: 40px;
  line-height: 0.95;
  letter-spacing: -0.02em;
  color: #0c0c0c;

  margin-bottom: 20px;
}

.hero-title-span {
  color: #3350e9;
}

.hero-text {
  max-width: 335px;

  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  
}

.img-scroll {
  display: flex;
 
  margin-bottom: 28px;
  justify-content: end;
  align-items: end;
  height: 44px;
  position: relative;
}

.victoria-romashenko {
  position: absolute;
  top: 0;
  left: 0;

}
.john-wax {
  position: absolute;
  top: 0;
  left: 32px;
}

.anastasia-trachuk {
  position: absolute;
  top: 0;
  left: 64px;
}

.hero-list-item-img {
  width: 44px;
  height: 44px;
  border-radius: 100%;
  stroke-width: 2px;
  stroke: #fbfbfb;
}

.hero-text-scroll {

  
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #0c0c0c;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-text-scroll:hover,
.hero-text-scroll:focus {
  color: #3350e9;
}
.hero-rectangle-img {
  border-radius: 30px;
 
  background-color: rgba(12, 12, 12, 0.2);
}
.hero-tomb-title {
margin-bottom: 28px;

}





















@media screen and (min-width: 768px) {
  .hero-tomb {
    padding-top: 80px;
    padding-bottom: 80px;
    
  }
  .hero-tomb-next {
    display: flex;
 
  
 
  }


  .hero-title {
    max-width: 557px;
    line-height: 0.86;
    font-size: 70px;
  }

  .hero-text {
    max-width: 480px;

    font-size: 16px;
    line-height: 0.85714;

    color: rgba(12, 12, 12, 0.7);
   
  }

  .img-scroll {
    
    height: 260px;
    width: 136px;
    margin-bottom: 0;
    
  }
  
  
  .hero-list-item-img {
    width: 56px;
    height: 56px;
  
  }


  .hero-rectangle-img {
    border-radius: 50px;
   
    background-color: rgba(12, 12, 12, 0.2);
  }

  .victoria-romashenko {
    position: absolute;
    top: 0;
    right: 80px;
  }

  .john-wax {
    position: absolute;
    top: 0;
    right: 39px;
  }

  .anastasia-trachuk {
    position: absolute;
    top: 0;
    right: 0;
  }

  .hero-text-scroll {
    line-height: 1;
    font-size: 20px;
  }
}









@media screen and (min-width: 1280px) {
  .hero-tomb {
    padding-bottom: 100px;
  }

  
 
  .hero-title {
    max-width: 597px;

    font-size: 72px;
  }

  .hero-list-item-img {
    width: 60px;
    height: 60px;
  
  }


  .hero-rectangle-img {
    border-radius: 50px;
   
    background-color: rgba(12, 12, 12, 0.2);
  }
}
