.sale-container {
  margin-bottom: 60px;
}

.sale-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 24px;
}

.sale-list-container {
  margin-bottom: 20px;
}

.sale-list {
  display: flex;
  gap: 5px;
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .sale-item {
    width: calc((100% - 15px) / 4);
  }
}

.sale-item {
  padding: 13px 14px;
  outline: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 16px;
  background-color: #f3f3f3;
}

@media screen and (min-width: 768px) {
  .sale-container {
    margin-bottom: 80px;
  }

  .sale-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 0.92;
    margin-bottom: 40px;
  }

  .sale-list-container {
    display: flex;
  }

  .sale-list {
    flex-direction: column;
    gap: 10px;
    margin-bottom: 0px;
  }

  .sale-item {
    border-radius: 20px;
    padding: 16px 18px;
  }
}

@media screen and (min-width: 1280px) {
  .sale-container {
    margin-bottom: 100px;
  }

  .sale-wrapper {
    display: flex;
  }

  .sale-list {
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
  }
}

.sale-general-img {
  margin-bottom: 20px;
  outline: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
  background-color: #f3f3f3;
  padding: 50px;
  flex-shrink: 0;
}

@media screen and (min-width: 768px) {
  .sale-list-container {
    gap: 20px;
  }
  .sale-general-img {
    padding: 80px 112px;
    border-radius: 50px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .sale-general-img {
    margin-bottom: 0;
    padding: 80px 50px;
  }
}

.sale-watch-info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 30px;
  background-color: #3350e9;
  padding: 48px 28px;
}

.sale-watch-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  margin-bottom: 10px;
}

.sale-watch-tag {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.5);
  margin-bottom: 20px;
}

.sale-watch-price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  margin-bottom: 28px;
}

.sale-watch-price-now {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  border-radius: 8px;
  background: rgba(251, 251, 251, 0.1);
  padding: 8px 16px;
  display: inline-block;
  text-align: center;
}

.sale-watch-price-before {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  text-decoration: line-through;
  color: rgba(251, 251, 251, 0.5);
}

.sale-watch-description {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.7);
  margin-bottom: 28px;
}

.sale-watch-categories {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
  gap: 4px;
}

.sale-watch-categories-item {
  display: inline;
  font-size: 12px;
  line-height: 1.33;
  color: #fbfbfb;
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 8px;
  padding: 8px 12px;
}

@media screen and (min-width: 768px) {
  .sale-watch-info {
    border-radius: 50px;
    margin-bottom: 80px;
    padding: 60px;
    max-width: 704px;
  }

  .sale-watch-title {
    line-height: 1.13;
    max-width: 436px;
    font-size: 32px;
  }

  .sale-watch-price {
    margin-bottom: 30px;
  }

  .sale-watch-price-now {
    font-size: 20px;
    line-height: 1;
    padding-right: 12px;
  }

  .sale-watch-description {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 40px;
  }

  .sale-watch-categories {
    gap: 8px;
    max-width: 398px;
  }

  .sale-watch-categories-item {
    font-size: 14px;
    line-height: 1.29;
  }
}

@media screen and (min-width: 1280px) {
  .sale-watch-info {
    max-width: 530px;
  }

  .sale-watch-title {
    margin-right: 21px;
  }
}
