.sale-list-container {
  margin-bottom: 20px;
}

.sale-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 24px;
}

.sale-list {
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
}

.sale-general-img {
  margin-bottom: 20px;
}

.sale-watch-info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
  background-color: #3350e9;
  margin-bottom: 60px;
}

.sale-watch-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #fbfbfb;
}

.trade-mark {
  vertical-align: middle;
}

.sale-watch-tag {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.5);
}

.sale-watch-price-now {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: #fbfbfb;
}

.sale-watch-price-before {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  text-decoration: line-through;
  color: rgba(251, 251, 251, 0.5);
}

.sale-watch-description {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.7);
}

.sale-watch-categories-item {
  font-size: 12px;
  line-height: 1.33;
  color: #fbfbfb;
}
